<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Lista de Contratos</title>
</head>

<body>

	<h1>Lista de Contratos</h1>

	<a href="/contrato/">Lista de Propiedades</a>

	<br><br>

	<table border="1">
		<tr>
			<th>ID</th>
			<th>fechaInicio</th>
			
			<th>duracionMeses</th>
			<th>importeMensual</th>
			<th>diaVenciamiento</th>
			<th>descripcion</th>
			<th>estado</th>

		</tr>

		<!-- RECORRIDO DE PROPIEDADES -->
		<tr th:each="contrato : ${contratos/}">
			<td th:text="${contrato.id}"></td>
			<td th:text="${contrato.fechaInicio}"></td>
			<td th:text="${contrato.duracionMeses}"></td>
			<td th:text="${contrato.importeMensual}"></td>
			<td th:text="${contrato.diaVenciamiento}"></td>
			<td th:text="${contrato.estado}"></td>

			<!-- EDITAR -->
			<td>
				<a th:href="@{/contrato/editar/{id}(id=${propiedad.id})}">
					Editar
				</a>

				<!-- ELIMINAR -->
				<a th:href="@{/contrato/eliminar/{id}(id=${propiedad.id})}">
					Eliminar
				</a>
			</td>

		</tr>

	</table>

</body>

</html>