<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Lista de Propiedades</title>
</head>

<body>

	<h1>Lista de Propiedades</h1>

	<a href="/propiedad/nueva">Nueva Propiedad</a>

	<br><br>

	<table border="1">
		<tr>
			<th>ID</th>
			<th>Dirección</th>
			<th>Descripción</th>
			<th>Ambientes</th>
			<th>Metros²</th>
			<th>Estado</th>
			<th>Acciones</th>
		</tr>

		<!-- RECORRIDO DE PROPIEDADES -->
		<tr th:each="propiedad : ${propiedades}">
			<td th:text="${propiedad.id}"></td>
			<td th:text="${propiedad.direccion}"></td>
			<td th:text="${propiedad.descripcion}"></td>
			<td th:text="${propiedad.cantidadAmbientes}"></td>
			<td th:text="${propiedad.metrosCuadrados}"></td>
			<td th:text="${propiedad.estadoDisponibilidad}"></td>

			<!-- EDITAR -->
			<td>
				<a th:href="@{/propiedad/editar/{id}(id=${propiedad.id})}">
					Editar
				</a>

				<!-- ELIMINAR -->
				<a th:href="@{/propiedad/eliminar/{id}(id=${propiedad.id})}">
					Eliminar
				</a>
			</td>

		</tr>

	</table>

</body>

</html>