<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Lista de Propiedades</title>
</head>

<body>

	<h1>Lista de Propiedades</h1>

	<a href="/propiedad/nueva">Nueva Propiedad</a>

	<br><br>

	<h3>Filtrar propiedades</h3>

	<form th:action="@{/propiedades/buscar}" method="get">

		<label>Dirección:</label>
		<input type="text" name="direccion">

		<br><br>

		<label>Ciudad:</label>
		<select name="ciudadId">
			<option value="">Todas</option>
			<option th:each="ciudad : ${ciudades}" th:value="${ciudad.id}" th:text="${ciudad.nombre}">
			</option>
		</select>

		<br><br>

		<label>Tipo:</label>
		<select name="tipo">
			<option value="">Todos</option>
			<option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="${tipo}">
			</option>
		</select>

		<br><br>

		<label>Estado:</label>
		<select name="estado">
			<option value="">Todos</option>
			<option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado}">
			</option>
		</select>

		<br><br>

		<button type="submit">Buscar</button>

		<a href="/propiedades">Limpiar filtros</a>

	</form>

	<br><br>

	<br><br>

	<table border="1">
		<tr>
			<th>ID</th>
			<th>Dirección</th>
			<th>Ciudad</th>
			<th>Tipo de propiedad</th>
			<th>Cantidad de Ambientes</th>
			<th>Metros Cuadrados</th>
			<th>Estado de disponibilidad</th>
			<th>Propietario</th>
			<th>Descripción</th>
			<th>Acciones</th>


		</tr>

		<!-- RECORRIDO DE PROPIEDADES -->
		<tr th:each="propiedad : ${propiedades}">
			<td th:text="${propiedad.id}"></td>
			<td th:text="${propiedad.direccion}"></td>
			<td th:text="${propiedad.ciudad != null ? propiedad.ciudad.nombre : 'Sin ciudad'}"></td>
			<td th:text="${propiedad.tipo}"></td>
			<td th:text="${propiedad.cantidadAmbientes}"></td>
			<td th:text="${propiedad.metrosCuadrados}"></td>
			<td th:text="${propiedad.estadoDisponibilidad}"></td>
			<td th:text="${propiedad.propietario.nombre + ' ' + propiedad.propietario.apellido}"></td>
			<td th:text="${propiedad.descripcion}"></td>

			<!-- EDITAR -->
			<td>
				<a th:href="@{/propiedad/editar/{id}(id=${propiedad.id})}">
					Editar
				</a>

				<!-- ELIMINAR -->
				<a th:href="@{/propiedad/eliminar/{id}(id=${propiedad.id})}">
					Eliminar
				</a>
			</td>

		</tr>

	</table>

</body>

</html>