<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Provincia</title>
</head>

<body>

	<h1>Provincia</h1>

	<div th:if="${error}">
		<h3 style="color:red" th:text="${error}">
		</h3>
	</div>

	<form th:action="@{/provincias}" th:object="${provinciaForm}" method="post">

		<input type="hidden" th:field="*{id}">

		<label>Nombre:</label>

		<input type="text" th:field="*{nombre}">

		<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" style="color:red">
		</div>

		<br><br>

		<button type="submit">
			Guardar
		</button>

	</form>

	<br>

	<a href="/provincias">
		Volver al listado
	</a>

</body>

</html>